
/* --------------------------------------------------------
/* ---- Responsive: 1920px
-------------------------------------------------------- */

@media only screen and (max-width:4000px) {

 
 .BloquesElecciones{
  width: 20%;
}


.Bloque_GrandeF {
  width: 40% !important;
}


.menu > .Bloques{
    padding-left: 30px;
    padding-right: 30px;
}

.BloqueCurrentInicio {
    margin-left: 6% !important;
}




}/* 2200 */


@media only screen and (max-width:2100px) {



.menu > .Bloques{
    padding-left: 30px;
    padding-right: 30px;
}

.BloqueCurrentInicio {
    margin-left: 6% !important;
}
 
 
 
}/* 2200 */




/* --------------------------------------------------------
/* ---- Responsive: 1920px
-------------------------------------------------------- */

@media only screen and (max-width:1920px) {



 .BloquesElecciones{
  width: 25%;
}


.Bloque_GrandeF {
  width: 50% !important;
}


.menu > .Bloques{
    padding-left: 30px;
    padding-right: 30px;
}

  
 
}/* 19320 */




/* --------------------------------------------------------
/* ---- Responsive: 1800px
-------------------------------------------------------- */

@media only screen and (max-width:1820px) {

  .menu > .Bloques{
    padding-left: 20px;
    padding-right: 20px;
}

 


}/* 2200 */



/* --------------------------------------------------------
/* ---- Responsive: 1690px
-------------------------------------------------------- */

@media only screen and (max-width:1690px) {

  .menu {
    font-size: 17px;
    height: auto;
  }

  .menu > .Bloques {
    padding-top: 20px;
    padding-bottom:  20px;
    height: auto;
  }

  .BloqueRed{
    margin-right: 0px;
  }

  .menu > .Bloques{
    padding-left: 10px;
    padding-right: 10px;
  }

} /* 1690 */




/* --------------------------------------------------------
/* ---- Responsive: 1540px
-------------------------------------------------------- */

@media only screen and (max-width:1540px) {

 .menu {
    font-size: 15px;
    height: auto;
    padding-left: 0px;
  }

  .menu > .Bloques {
     margin-left: 0px;
  }



  .contenidoPost  {
    width: 65%;
  }

  .NotasRelacionadas{
    width: 420px;
    float: right;
  }

  .NotasRelacionadas > .BloqueInformacion > .informacion > .extracto {
    font-size: 12px;
    line-height: 12px;
  }


  .NotasRelacionadas > .BloqueInformacion > .imagen {
    height: auto;
  }

  .NotasRelacionadas > .BloqueInformacion > .informacion {
    height: auto;
  }

}


/* --------------------------------------------------------
/* ---- Responsive: 1480px
-------------------------------------------------------- */

@media only screen and (max-width:1520px) {

.ContendorBloquePost > .imagen{
  width: 100%;
  height: 300px;
}



} /* 1520 */


/* --------------------------------------------------------
/* ---- Responsive: 1480px
-------------------------------------------------------- */

@media only screen and (max-width:1480px) {
 
 


.ContendorBloquePost > .imagen img{
  width: 150%;
  height: auto;
}

.ContendorBloquePost > .titulo {
  font-size: 26px;
  line-height: 28px;
}


.BloqueCurrentInicio {
    margin-left: 0% !important;
}
 


}/* 14480 */


/* --------------------------------------------------------
/* ---- Responsive: 1366px
-------------------------------------------------------- */

@media only screen and (max-width:1366px) {


 
.header > .logo {
    width: 480px;
}

.NotasRelacionadas > .BloqueInformacion > .imagen {
    height: 180px;
}

.NotasRelacionadas > .BloqueInformacion {
  color: #000;
}


}/* 1366 */




/* --------------------------------------------------------
/* ---- Responsive: 1280px
-------------------------------------------------------- */

@media only screen and (max-width:1290px) {


.ContendorBloquePost > .titulo {
  font-size: 24px;
  line-height: 26px;
}

.ContendorBloquePost > .categoria {
  font-size: 18px;
  line-height: 18px;
}


 .menu {
    font-size: 12px;
    height: auto;
    padding-left: 0px;
  }

  .menu > .Bloques {
     margin-left: 0px;
     padding-left: 5px;
    padding-right: 5px;
  }

 
}/* 1280 */


/* --------------------------------------------------------
/* ---- Responsive: 1280px
-------------------------------------------------------- */

@media only screen and (max-width:1280px) {

.BloquesElecciones{
  width: 33.33%;
}


.Bloque_GrandeF {
  width: 66.66% !important;
}


.BloqueMainPost {
    max-width: 100%;
}


.contenidoPost {
    width: 80%;
    float: none;
}


.NotasRelacionadas {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000;
    float: none;
    color: #FFF;
    margin-top: 40px;
    background: rgb(235, 235, 235) !important;
}


 

.NotasRelacionadas > .SeccionTitulo {
     color: #000;
}



.NotasRelacionadas > .BloqueInformacion {
    width: 50%;
    float: left;
}

.NotasRelacionadas > .BloqueInformacion > .informacion > .extracto {
    font-size: 15px;
    line-height: 15px;
}




}/* 1280 */


/* --------------------------------------------------------
/* ---- Responsive: 1200px
-------------------------------------------------------- */

@media only screen and (max-width:1220px) {







}/* 1200 */



/* --------------------------------------------------------
/* ---- Responsive: 1110px
-------------------------------------------------------- */
 



/* --------------------------------------------------------
/* ---- Responsive: 1152px
-------------------------------------------------------- */

@media only screen and (max-width:1152px) {
 

 .menu {
    font-size: 12px;
    height: auto;
    padding-left: 0px;
  }

  .menu > .Bloques {
     margin-left: 0px;
     padding-left: 5px;
    padding-right: 5px;
  }





}/* 1152 */


/* --------------------------------------------------------
/* ---- Responsive: 1024px
-------------------------------------------------------- */

@media only screen and (max-width:1060px) {
 
 


}

/* --------------------------------------------------------
/* ---- Responsive: 1024px
-------------------------------------------------------- */

@media only screen and (max-width:1024px) {
 

.ContendorBloquePost {
  height: 570px
}


.ContendorBloquePost > .imagen{
  width: 100%;
  height: 260px;
}


.ContendorBloquePost > .extracto {
  font-size: 14px;
    line-height: 16px;   
}


.ContendorBloquePost > .titulo  {
    font-size: 20px;
    line-height: 22px;
}


.ContendorBloquePost > .categoria  {
    font-size: 16px;
    line-height: 16px;
}

.contenidoPost {
    width: 100%;
    float: none;
}


.Seccion-titulo > .BloqueDatos {
    width: 100%;
    height: auto;
    padding-left: 0px;  
    float: left;
}


.BloqueContadorDias{
    position: absolute;
    right: 12%;
    top: -160px;
    width: 144px;
    height: 162px;
    background-color: #000;
}


 
.BloqueContadorDias  > .texto-A {
    font-size: 22px;
    line-height: 24px;
}

.BloqueContadorDias  > .texto-B  {
    font-size: 42px;
    line-height: 42px;
}

.header > .logo  {
    width: 350px;
}



}/* 1024 */


/* --------------------------------------------------------
/* ---- Responsive: 911px
-------------------------------------------------------- */

@media only screen and (max-width:1000px) {

  .menu  > .Bloques {
      margin-left: 0px;
      display: none;
  }

  .NotasRelacionadas > .BloqueInformacion > .informacion > .extracto {
      font-size: 12px;
      line-height: 12px;
  }

  .menuMovil{
    display: block;
  }

  .menuIcon{
    display: block;
  }

  .texto_publicaciones{
    display: block;
  }

  .header {
      margin-top: 20px;
  }


.Menu-Activo-Movil{
  width: 320px;
  height: 100%;
  position: fixed;
  display: block;
  top: 0;
  left:  0;
  z-index: 999999999;
  background: #FFF;
  padding-top: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
  background: rgba(0,0,0,0.9);
}


.Menu-Activo-Movil > .Bloques{
  width: 100%;
  height: auto;
  padding-top:  5px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}


.Menu-Activo-Movil > .Bloques a {
  text-decoration: none;
  color: #FFF;
} 


.Menu-Activo-Movil > .btn_Close{
  width: 24px;
  height: 24px;
  background: url("assets/images/home/close.png");
  background-size: 24px 24px;
  position: absolute;
  top: 5px;
  right: 5px; 
}


.BloqueContadorDias {
    top: -160px;
}


.Listado {
  width: 100%;
}



}

/* --------------------------------------------------------
/* ---- Responsive: 910px
-------------------------------------------------------- */

@media only screen and (max-width:910px) {

 
.Post_Redered p{
   
  font-size: 18px !important;
  line-height: 24px !important;
}


.Seccion-titulo > .BloqueDatos > .titulo {
    font-family: "Gotham-Black";
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

.NotasRelacionadas > .BloqueInformacion > .imagen {
    height: 180px;
}


.NotasRelacionadas  > .BloqueInformacion  > .informacion > .titulo  {
    font-size: 14px;
    line-height: 14px;
}

}/* 900 */


/* --------------------------------------------------------
/* ---- Responsive: 830px
-------------------------------------------------------- */

@media only screen and (max-width:860px) {


  .Seccion-titulo > .BloqueDatos > .titulo {
    font-family: "Gotham-Black";
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}

.Seccion-titulo > .BloqueDatos > .fecha {
    font-size: 16px;
    line-height: 16px;
}
 
.Seccion-titulo > .BloqueDatos > .autor {
    font-size: 16px;
    line-height: 16px;
}

 .ContendorBloquePost > .imagen{
  width: 100%;
  height: 200px;
}



.ContendorBloquePost {
    height: 500px;
}


 


 
.NotasRelacionadas > .BloqueInformacion {
    width: 100%;
    float: left;
    height: 170px;
    overflow: hidden;

}

  .NotasRelacionadas > .BloqueInformacion > .informacion > .extracto {
    font-size: 14px;
    line-height: 14px;
}



.Post_Redered {
    font-size: 18px;
    line-height: 28px;
    color: #000;
}



}/* 900 */


/* --------------------------------------------------------
/* ---- Responsive: 740px
-------------------------------------------------------- */

@media only screen and (max-width:780px) {


.BloquesElecciones {
    width: 50%;
}
 

.Bloque_GrandeF {
    width: 50% !important;
}

.header{
  margin-top: 10px;
}



}

/* --------------------------------------------------------
/* ---- Responsive: 700px
-------------------------------------------------------- */

@media only screen and (max-width:700px) {

 

}/* 900 */



 


/* --------------------------------------------------------
/* ---- Responsive: 600px
-------------------------------------------------------- */

@media only screen and (max-width:660px) {

 .BloqueContadorDias{
    display: none;
 }

 .BloqueContadorDiasMovil{
  display: block;
 }

 .header  > .logo  {
    width: 280px;
}

.text--line{
  display: none;
}

.menu{
  margin-bottom: 34px;
}

.ContendorBloquePost > .titulo {
    font-size: 16px;
    line-height: 18px;
}


}/* 900 */



/* --------------------------------------------------------
/* ---- Responsive: 568px
-------------------------------------------------------- */

@media only screen and (max-width:568px) {


.ContendorBloquePost{
    height: 480px;
}



 .ContendorBloquePost > .extracto {
  font-size: 14px;
  line-height: 16px;
}


.header > .logo {
    width: 60%;
}

.NotasRelacionadas {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000;
    float: none;
    color: #FFF;
    margin: 0 auto;
    margin-top: 40px;
}

.NotasRelacionadas > .BloqueInformacion {
    height: auto;
}

.NotasRelacionadas > .BloqueInformacion > .imagen{
    width: 100%;
    height: auto;
    float: none;
    margin-bottom: 10px;
}


.NotasRelacionadas > .BloqueInformacion > .informacion {
    width: 100%;
    height: auto;
    float: none;
    padding: 5px;
}


.NotasRelacionadas > .BloqueInformacion > .imagen img {
    width: 100%;
    height: auto;
}


.NotasRelacionadas > .BloqueInformacion > .informacion > .extracto {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
}



.ContendorBloquePost > .titulo  {
    margin-bottom: 10px;
}

.ContendorBloquePost > .categoria  {
   margin-bottom: 10px;
   font-size: 14px;
  line-height: 14px;
}


.BloquesElecciones {
    width: 100%;
}

.ContendorBloquePost > .titulo {
    font-size: 20px;
    line-height: 20px;
}

.ContendorBloquePost > .extracto {
    font-size: 14px;
    line-height: 14px;
}


.ContendorBloquePost > .imagen{
  height: 200px;
}


.ContendorBloquePost > .imagen img {
    width: 100%;
    height: auto;
}



.Bloque_GrandeF {
    width: 100% !important;
}



}/* 568 */



/* --------------------------------------------------------
/* ---- Responsive: 520px
-------------------------------------------------------- */

@media only screen and (max-width:520px) {

 

}/* 520 */

/* --------------------------------------------------------
/* ---- Responsive: 900px
-------------------------------------------------------- */

@media only screen and (max-width:490px) {

 


 .ContendorBloquePost{
    height: 400px;
}



 .ContendorBloquePost > .extracto {
  font-size: 12px;
  line-height: 14px;
}


.ContendorBloquePos > .titulo {
    font-size: 16px;
    line-height: 18px;
}


.ContendorBloquePost > .imagen > .fecha {
    width: 50px;
    height: 50px;
     
}

.ContendorBloquePost > .imagen > .fecha > .mes {
    font-size: 12px;
    line-height: 15px;
}

.ContendorBloquePost > .imagen > .fecha > .dia {
    font-size: 27px;
    line-height: 26px;
}




}/* 900 */


/* --------------------------------------------------------
/* ---- Responsive: 900px
-------------------------------------------------------- */

@media only screen and (max-width:460px) {

 


.NotasRelacionadas > .BloqueInformacion {
    width: 100%;
    float: left;
    height: auto;
    overflow: hidden;
}


.footer-general > .imagen_elecciones {
    width: 45px;
}

.footer-general {
    width: 100%;
    height: 60px;
    background: #FFF;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    left: 0px;
}


.footer-general > .imagen_revo {
    width: 200px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 12px;
}
 

}/* 900 */



/* --------------------------------------------------------
/* ---- Responsive: 900px
-------------------------------------------------------- */

@media only screen and (max-width:420px) {



 

 


}

/* --------------------------------------------------------
/* ---- Responsive: 900px
-------------------------------------------------------- */

@media only screen and (max-width:400px) {


  .BloquesElecciones {
    width: 100%;
}
 

.Bloque_GrandeF {
    width: 100% !important;
}

 

.ContendorBloquePost > .imagen{
  height: 180px;
}



}/* 900 */

@media only screen and (max-width:380px) {

  .ContendorBloquePost > .titulo {
    font-size: 16px;
    line-height: 16px;
}

.ContendorBloquePost > .categoria {
    font-size: 14px;
    line-height: 14px;
}




}




