<!DOCTYPE html>
<html>
<head *ngIf="post">

 <meta property="og:url" content="http://michoacantrespuntocero.com/cultura30/{{post.slug}}" />
 <meta property="og:title" content="{{post.title.rendered}}" />
 <meta property="og:description" content="{{post.excerpt.rendered}}" />
 <meta property="og:image" content="{{ post.imagen_minsize }}" />
	<title></title>

	<link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>



 <div class="header">

  <div class="logo">
    <img src="assets/images/home/Elige-2018-logo.png">
  </div><!-- logo -->
  

  <div class="menu">
 
<!-- Contador de Bloques -->
<div class="BloqueContadorDias">

 <div class="texto-A">Faltan</div>
 <div class="texto-B"> {{dias}} </div>
 <div class="texto-A">Días</div>
 <div class="texto-C">{{horas_minutos}}</div>


</div><!-- BloqueContador -->



<div class="Bloques" (click)="GoToInicio();">
  Menú
</div>

<div class="Bloques" (click)="SeleccionMenu('entrana');" >
  La Entraña
</div>

<div class="Bloques">
  Así pasó
</div>

<div class="Bloques">
  ¿Dónde dice?
</div>

<div class="Bloques">
  ¿Qué me perdí?
</div>

<div class="Bloques">
  ¿Qué proponen?
</div>

<div class="Bloques">
  ¿Qué se viene?
</div>

<div class="Bloques">
  ¿Quién jalá con quién?
</div>


<div style="clear: both;"></div>
</div><!-- menu -->


</div><!-- header -->


<div class="contenidoPost flexcroll-Amarillo" *ngIf="post">
  
<!-- Imagen del post -->
 
	<div class="Seccion-titulo">
        <div class="boderAmarillo"></div>

		<div class="BloqueFecha">
			<div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>
		</div><!-- BloqueFecha -->



		<div class="BloqueDatos">
			    <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>		
		</div><!-- BloqueDatos -->

	<div style="clear: both;"></div>
	</div><!-- Seccion-titulo -->


	<div class="imagenPost">
		<img src="{{ post.imagen_minsize }}" class="img-fluid">
	</div>
 
	
	<div [innerHTML]="post.content.rendered"></div>
 
 
 <div class="CompartirTexto">
 	Compartir:
 </div>
 <share-container
    direction="horizontal"
    addedText=""
    [expandable]="true"
    [textEnabled]="true"
    [platforms]="['twitter','facebook', 'googlePlus']">
    </share-container>


<div style="clear: both; width: 100%; height:200px;"></div>



<div *ngIf="!post">
	<img class="img-fluid" src="assets/images/home/loading2.gif">	
</div>

</div>


</body>
  <link rel="stylesheet" href="assets/css/responsive.css">
</html>



