<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">

</head>
<body  [@fadeInAnimation]="stateName">

<div class="ScrollPost flexcroll-Amarillo">
  
  <div class="BlurTop">
       <img src="assets/images/home/blur.png" class="imagen_min_posts">
  </div>


  <div class="">

    <div class="nombreSeccion">
       Trueques
      <div class="colorSeccion color-amarillo" style="width: 150px;"></div>
    </div>
    
   	<!-- Seccion para el menu -->
    <div class="BloquesPostList {{ post.tipo_bloque }} {{ post.tamano_bloque }}" *ngFor="let post of posts" (click)="selectPost(post.slug)">
   		  
      <div class="Mestitulo" style="display: none;">
             {{ post.mensualidad }}
      </div>
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
             

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.post_fecha}}</div>
                <div class="lugar">{{post.post_author}}</div>
                <div [innerHTML]="post.excerpt.rendered" class="extracto"></div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
         <img src="{{ post.imagen_minsize }}" class="imagen_full">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  <div class="VerMas hvr-bounce-in" (click)="LoadMorePosts(27, post_count)" [hidden]="loadMoreVisible">
         Ver más 
         <div class="flecha-Amarilla"></div>
    </div><!-- vermás -->


    <div style="clear: both; width: 100%; height:200px;"></div>

   



  </div>



</div><!--scrollPost -->



 
   


 
 
     


  

 


 




</body>
  <link rel="stylesheet" href="assets/css/responsive.css">

</html>





 