<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="assets/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/style.css">

</head>
<body  [@fadeInAnimation]="stateName">






<div class="ScrollPost flexcroll-Amarillo">
  
  <div class="BlurTop">
       <img src="assets/images/home/blur.png" class="imagen_min_posts">
  </div>



  <!-- 1- ENERO ============================ -->
    <div class="" *ngIf="exist_post_enero">

    <div class="nombreSeccion" style="display: block !important;">
      Enero
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_enero" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>

   <!-- 2- FEBRERO ============================ -->

    <div class="" *ngIf="exist_post_febrero">

    <div class="nombreSeccion" style="display: block !important;">
      Febrero
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_febrero" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>



 <!-- 3 - MARZO ============================ -->

    <div class="" *ngIf="exist_post_marzo">

    <div class="nombreSeccion" style="display: block !important;">
      Marzo
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_marzo" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>



 <!-- 4 - ABRIL ============================ -->

    <div class="" *ngIf="exist_post_abril">

    <div class="nombreSeccion" style="display: block !important;">
      Abril
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_abril" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>



  <!-- 5 - MAYO  ============================ -->

    <div class="" *ngIf="exist_post_mayo">

    <div class="nombreSeccion" style="display: block !important;">
      Mayo
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_mayo" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>



  <!-- 6 - JUNIO  ============================ -->

    <div class="" *ngIf="exist_post_junio">

    <div class="nombreSeccion" style="display: block !important;">
      Junio
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_junio" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>



   <!-- 7 - JULIO  ============================ -->

    <div class="" *ngIf="exist_post_julio">

    <div class="nombreSeccion" style="display: block !important;">
      Julio
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_julio" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>


     <!-- 8 - AGOSTO  ============================ -->

    <div class="" *ngIf="exist_post_agosto">

    <div class="nombreSeccion" style="display: block !important;">
      Agosto
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_agosto" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>



     <!-- 9 - SEPTIEMBRE  ============================ -->

    <div class="" *ngIf="exist_post_septiembre">

    <div class="nombreSeccion" style="display: block !important;">
      Septiembre
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_septiembre" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>





  <!-- 10 - OCTUBRE  ============================ -->

    <div class="" *ngIf="exist_post_octubre">

    <div class="nombreSeccion" style="display: block !important;">
      Octubre
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_octubre" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  
  
  </div>



  <!-- 11 - NOVIEMBRE  ============================ -->

    <div class="" *ngIf="exist_post_noviembre">

    <div class="nombreSeccion" style="display: block !important;">
      Noviembre
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_noviembre" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
    
  
  </div>


   <!-- 12 - DICIEMBRE  ============================ -->

    <div class="" *ngIf="exist_post_diciembre">

    <div class="nombreSeccion" style="display: block !important;">
      Diciembre
    </div> 



    <!-- Seccion para el menu -->
    <div class="BloquesPostList" *ngFor="let post of posts_diciembre" (click)="selectPost(post.slug)">
        
      
      <div class="bloqueX color-amarillo {{post.imagen_sin_post}}">
     

         <div class="cuadrito color-amarillo"></div>

         <div class="CuadroInformacion">
            <div class="dia">{{ post.Dia }}</div>
            <div class="mes">{{ post.Mes }}</div>

            <div class="CuadroEventos">
                <div class="titulo" [innerHTML]="post.title.rendered"></div>
                <div class="lugar">{{ post.Lugar }}</div>
                <div class="hora">{{ post.Hora }}</div>

            </div><!-- CuadroEventos -->

         </div><!-- Cuadro informacion -->

      
         <img src="{{ post.imagen_thumbsize }}" class="img-fluid imagen_min_posts">
      </div>

    </div><!-- col -->

        <div style="clear: both; width: 100%; height:10px;"></div>
  

  
  
  </div>

    <div style="clear: both; width: 100%; height:200px;"></div>



 



</div><!--scrollPost -->



 
   


 
 
     


  

 


 




</body>
  <link rel="stylesheet" href="assets/css/responsive.css">

</html>





 